@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --color-brand-blue: #1D4CA1;
  --color-brand-yellow: #FFDE16;
  --color-brand-red: #ED1C24;
  --color-brand-green: #39B54A;
  --color-brand-gray: #E7E7E8;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-brand-gray text-slate-900;
  }
}
